<!-- Carousel -->
<div class="row">
	 	<div class="col-xs-12" ng-controller="carousel">
		<carousel interval="slideInterval">
		<slide ng-repeat="slide in slides" active="slide.active">
		<a href="{{slide.url}}">
				<img ng-src="{{slide.image}}" style="margin:auto; max-height:500px" />
		</a>
		<div class="carousel-caption">
				<h4>{{slide.name}}</h4>
				<p>{{slide.text}}</p>
		</div>
		</slide>
		</carousel>
	</div> 
</div>
<div class="container" style="margin-top:60px">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>我们的团队</h2>
      <p>Our Team</p>
      <p><a class="btn btn-default" ng-click="modalClick('/views/aboutUsModal/ourTeam.html')">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>我们的服务</h2>
      <p>Our Service</p>
      <p><a class="btn btn-default" ng-click="modalClick('/views/aboutUsModal/ourServ.html')">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>我们的优势</h2>
      <p>Our Advantages</p>
      <p><a class="btn btn-default" ng-click="modalClick('/views/aboutUsModal/ourAdv.html')">View details »</a></p>
    </div>
  </div><!-- /.row -->

  <!-- FOOTER -->
  <footer>
  </footer>

</div><!-- /.container -->