<div class="container">
 
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%">#</th>
        <th style="width: 50%">Title</th>
        <th style="width: 20%">Author</th>
        <th style="width: 20%">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>ABCDE</td>
        <td>New York</td>
        <td>12-03-2004</td>
        </tr>
        <tr ng-repeat="project in projects">
        	<td><a href="#/projects/{{project._id}}">{{project.ProjectName}}<a></td>
        	<td class="align-right"><button class="btn btn-danger" ng-click="deleteProject(project._id)">Delete</button></td>
        </tr>
    </tbody>
  </table>
  </div>
</div>