<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
    <title>Easy4.0</title>
    <link rel='stylesheet' href='../css/style.css' />
    <!-- AngularJS -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-cookies.js"></script>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Bootstrap: Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <!-- AngularJS controllers -->
    <script src="../js/ngApp.js"></script>
    <script src="../js/ngControllers.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navController">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Easy4.0</a>
        			<!-- collapse menu icon -->
  						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						</button>
      </div>
      <div class="navbar-right col-md-6 navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/')}"><a href="#/">Home Page</a></li>
          <li ng-class="{ active: isActive('/Mentors')}"><a href="#/Mentors">Our Mentors</a></li>
          <li ng-class="{ active: isActive('/Courses')}"><a href="#/Courses">Our Courses</a></li>
          <li ng-class="{ active: isActive('/Articles')}"><a href="#/Articles">Articles</a></li>
          <li ng-class="{ active: isActive('/ContactUs')}"><a href="#/ContactUs">Contact us</a></li>
          <li ng-class="{ active: isActive('/StudentLogin')}"><a href="#">Student Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <!-- content -->
  <div class="row content">
    <div ng-view></div>
  </div>
  <!-- footer -->
<footer class="col-md-12" style="background-color:black">
  <div> copyright </div>
  <p>1</p>
  <p>2</p>
  <p>3</p>
  <p>4</p>
  <p>5</p>
</footer>

</body>
</html>