<section class="text-center bg-grey">
		<div class="heading-works marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div>
					<h2>Our Lecturers</h2>
					<p>我们的导师团队</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row gallery">
                        <hr class="style1">
                        <h4 class="subtitle">Eco Department</h4>
                        <div class="col-md-3">
							<a href="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1@2x.jpg">
								<img src="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1.jpg" class="img-responsive" alt="img">
							</a>
						</div>
					</div>
					<div class="row gallery">
                        <hr class="style1">
                        <h4 class="subtitle">Math Department</h4>
                        <div class="col-md-3">
							<a href="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1@2x.jpg">
								<img src="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1.jpg" class="img-responsive" alt="img">
							</a>
						</div>
					</div>
					<div class="row gallery">
                        <hr class="style1">
                        <h4 class="subtitle">CS Department</h4>
                        <div class="col-md-3">
							<a href="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1@2x.jpg">
								<img src="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1.jpg" class="img-responsive" alt="img">
							</a>
						</div>
					</div>
					<div class="row gallery">
                        <hr class="style1">
                        <h4 class="subtitle">Sta Department</h4>
                        <div class="col-md-3">
							<a href="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1@2x.jpg">
								<img src="https://www.prepbootstrap.com/Content/images/shared/nine-stars/works/1.jpg" class="img-responsive" alt="img">
							</a>
						</div>
					</div>
                </div>
            </div>	
		</div>
	</section>