<section class="text-center bg-grey">
		<div class="heading-works marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div>
					<h2>Our Mentors</h2>
					<p>我们的导师团队</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

                   
        <!-- Lecturer list -->
		<div class="row">
			<div class="col-md-3"  ng-repeat="lecturer in lecturers">
				<div class="card" ng-click="getDetail(lecturer)">
					<img class="img-circle" src="{{lecturer.photoUrl}}">
					<div class="row">
						<small class="col-xs-4 text-muted text-center"></small>
					</div>
				<div class="row">
					<div class="col-md-12">
						<h3>{{lecturer.Name}}</h3>
						<p>{{lecturer.Title}}</p>
						<p>{{lecturer.Dep}}</p>
					</div>
				</div>
				</div>
			</div>
		</div>

					</div>


                </div>
            </div>	
        </div>
	</section>