<section class="text-center bg-grey">
		<div class="heading-works marginbot-50">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div>
					<h2>Our Mentors</h2>
					<p>我们的导师团队</p>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

                   
        <!-- Mentor list -->
		<div class="row">
			<div class="col-md-3 pt-hover"  ng-repeat="mentor in mentors | orderBy:'Rank'" ng-click="getDetail(mentor)">
				<div class="card">
					<img class="img-circle" src="{{mentor.photoUrl}}">
					<div class="row">
						<small class="col-xs-4 text-muted text-center"></small>
					</div>
				<div class="row">
					<div class="col-md-12">
						<h3>{{mentor.Name}}</h3>
						<p>{{mentor.Title}}</p>
						<p>{{mentor.Dep}}</p>
					</div>
				</div>
				</div>
			</div>
		</div>

					</div>


                </div>
            </div>	
        </div>
	</section>