.formheader {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
        
.formbigicon {
    font-size: 35px;
    color: #36A0FF;
}

.content {
	padding-top: 45px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.gallery {
    padding: 10px;
    margin: 10px;
}

.bg-grey {
    background-color: #f8f8f8;
}

.subtitle {
    text-align: left;
    color: red;
}

.card{
	padding: 10px;
	border: solid 1px #d9d9de;
	border-radius: 6px;
	line-height: 1.5;
	margin-bottom: 10px;
}

hr.style1 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc);
}

hr.style2 {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}