.formheader {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
        
.formbigicon {
    font-size: 35px;
    color: #36A0FF;
}

.content {
	padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.gallery {
    padding: 10px;
    margin: 10px;
}

.bg-grey {
    background-color: #f8f8f8;
}

.subtitle {
    text-align: left;
    color: red;
}

.card{
	padding: 10px;
	border: solid 1px #d9d9de;
	border-radius: 6px;
	line-height: 1.5;
	margin-bottom: 10px;
	height: 350px;
}

.pt-hover{
    cursor: pointer;
}
button.course{
    padding: 10px;
    margin: 10px;
	border-radius: 6px;
	background-color: #76BBD2;
}

/*
 <hr> styles
*/
hr.style1 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc);
}



/* 
 style for search bar.
*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}