<div class="modal-header">
	<h2>OurTeam</h2>
</div>
<div class="modal-body">
    <p class="lead">  Easy 4.0是一支充满热血的年轻团队并由六十多名多伦多大学在读本科生、毕业生以及研究生组成。我们的目标是帮助那些在留学路上积极上进的同学们，创造出属于每个人辉煌的学生时代。
导师团是easy4.0团队的核心，每位导师其所在学院，所在科系中最顶尖的学生代表。他们对所学内容有着非常透彻清晰的理解，能够稳，准，狠的抓住考点要点，为学生们整合学习内容，用最少的投入，创造出最大的产出。年轻人更了解年轻人，学生能够更加清楚的理解同龄人的思维方法和讲课模式。在这一点上，导师们擅长运用科学的讲课方法使学员们更加有效的理解知识考点。
后勤团队是Easy4.0蓬勃发展的前提，每位成员都是严格选拔而出，是各个学院与社团的杰出代表。他们对学员的需要与团队的发展有着自己独特的见解，能够提高学员的整体体验，完美衔接课堂与课后的沟通与交流。
作为行业中的佼佼者，提供完善的课程指导、专业的技术支持与全方位的服务，是我们的义务与责任。我们用200%的努力换来3年来数千位学子的好评，您把希望交给我们，我们还您Easy4.0！
</p>
</div>
<div class="modal-footer">
    
</div>